@using EntityLayer.Concreate
@model List<Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Müşteri Yorum Paneli</h3>
</div>
<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Görsel</th>
            <th>Ad Soyad</th>
            <th>Şirket</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th>@item.TestimonialID</th>
                <th scope="row">
                    <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="@item.ImageUrl">
                        </a>
                    </div>
                </th>
                <td>@item.ClientName</td>
                <td>@item.Company</td>
                <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Testimonial/EditTestimonial/@item.TestimonialID" class="btn btn-outline-info">Güncelle</a></td>
            </tr>
        </tbody>
    }
</table>
<br />
<a href="/Testimonial/AddTestimonial/" class="btn btn-outline-primary">Yeni Yorum Ekle</a>
