@model EntityLayer.Concreate.Message

@{
    ViewData["Title"] = "MDetails";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal1">
    Mesaj Görüntüle
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Mesaj Detay Pencereesi</h4>
            </div>
            <form method="post" action="/Message/MDetails/">
                <div class="modal-body">
                    @Html.HiddenFor(m => m.MessageID, new { @class = "form-control" })
                    <br />
                    <label>Gönderen</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    <br />
                    <label>Gönderen Mail</label>
                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-control" })
                    <br />
                    <label>Mesaj</label>
                    @Html.TextAreaFor(m => m.Content,6,3, new { @class = "form-control" })
                    <br />
                    <a type="button" class="btn btn-warning" data-dismiss="modal" href="#">Cevapla</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Geri</button>
                </div>
            </form>
        </div>
    </div>

</div>