
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}



<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 4.">
    <meta name="author" content="Creative Tim">
    <title>Argon Dashboard - Free Dashboard for Bootstrap 4</title>
    <!-- Favicon -->
    <link rel="icon" href="~/argon-dashboard-master/assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/argon-dashboard-master/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="~/argon-dashboard-master/assets/vendor/fortawesome/fontawesome-free/css/all.min.css" type="text/css">
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/argon-dashboard-master/assets/css/argon.css?v=1.2.0" type="text/css">
</head>

<body>
    <!-- Sidenav -->
    <!-- Main content -->
    <div class="main-content" id="panel">

        <!-- Page content -->
            <div class="row">
                <div class="col-xl-4 order-xl-2">
                    <div class="card card-profile">
                    <img src="~/argon-dashboard-master/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a href="#">
                                    <img src="/süperajans/images/team/adminn1.jpeg" class="rounded-circle">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">
                            <a href="/Dashboard/Index/" class="btn btn-sm btn-info  mr-4 ">Dashboard</a>
                            <a href="/AdminMessage/Index/" class="btn btn-sm btn-default float-right">Mesajlar</a>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center">
                                        <div>
                                            <span class="heading">22</span>
                                            <span class="description">Arkadaşlar</span>
                                        </div>
                                        <div>
                                            <span class="heading">10</span>
                                            <span class="description">Resimler</span>
                                        </div>
                                        <div>
                                            <span class="heading">9</span>
                                        <span class="description">
                                            Yorumlar
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <h5 class="h3">
                                    Tunç Çindaş<span class="font-weight-light">, 20</span>
                                </h5>
                                <div class="h5 font-weight-300">
                                    <i class="ni location_pin mr-2"></i>İzmir, Türkiye
                                </div>
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>Sinop Üniversitesi - Meslek Yüksek Okulu
                                </div>
                                <div>
                                <i class="ni education_hat mr-2"></i>Bilgisayar Programcılığı
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-xl-8 order-xl-1">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                <h3 class="mb-0">Profili Düzenle </h3>
                                </div>
                                <div class="col-4 text-right">
                                <a href="/Portföy/Index/" class="btn btn-sm btn-primary">Projeler</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form>
                            <h6 class="heading-small text-muted mb-4">Kullanıcı bilgisi</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Kullanıcı Adı</label>
                                                <input type="text" id="input-username" class="form-control"  value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Mail</label>
                                                <input type="email" id="input-email" class="form-control" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">Görsel Url</label>
                                                <input type="text" id="input-first-name" class="form-control"  value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Soyad</label>
                                                <input type="text" id="input-last-name" class="form-control"  value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">İletişim bilgileri</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-address">Adres</label>
                                                <input id="input-address" class="form-control"  value="" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-city">Şehir</label>
                                                <input type="text" id="input-city" class="form-control"  value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                            <label class="form-control-label" for="input-country">Ülke</label>
                                                <input type="text" id="input-country" class="form-control"  value="">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-country">Posta Kodu</label>
                                                <input type="number" id="input-postal-code" class="form-control" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                            </form>
                        </div>
                    <br />
                    <button href="#" class="btn btn-outline-primary">Güncelle</button>
                    </div>
                </div>
            </div>
    </div>
    
    <!-- Argon Scripts -->
    <!-- Core -->
    @* <script src="~/argon-dashboard-master/assets/vendor/jquery/dist/jquery.min.js"></script>*@
    <script src="~/argon-dashboard-master/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/argon-dashboard-master/assets/vendor/js-cookie/js.cookie.js"></script>

    <script src="~/argon-dashboard-master/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/argon-dashboard-master/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Argon JS -->
    <script src="~/argon-dashboard-master/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>