<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Telif Hakkı © @DateTime.Now.Year .<a href="https://twitter.com/cindas_tunc?lang=ca" target="_blank"> ÇindaSoft </a>Tüm Hakları Saklıdır.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">ASP.Net & Ajans Projesi <i class="ti-heart text-danger ml-1"></i></span>
    </div>
</footer>