@using EntityLayer.Concreate
@model List<WriterMessage>

@{
    ViewData["Title"] = "ReciveMessageLis";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">User - Admin Gelen Mesajlar</h3>
</div>
<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Gönderen</th>
            <th>Konu</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Mesajı Görüntüle</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th>@item.WriterMessageID</th>
                <th>@item.Gonderenadi</th>
                <td>@item.Subject</td>
                <td>@item.Date</td>
                <td><a href="/AdminMesage/AdminDelete/@item.WriterMessageID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/AdminMesage/AdminDetails/@item.WriterMessageID" class="btn btn-outline-info">Görüntüle</a></td>
            </tr>
        </tbody>
    }
</table>
